.container {
  display: flex;
  align-items: center;
}

.search-bar-container {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 20px;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
  margin-top: 10px;
}

.header {
  background-color: #5072A7;
}

.Weather {
  padding-top: 15px;
  text-align: center;
  background-color: #5072A7;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.condition {
  background-color: #6699CC;
  height: 100px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-top: 15px;
}

.card {
  cursor: pointer;
  background-color: transparent;
  perspective: 1000px;
  height: 10000px; /* Adjusted the height to 300px */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  background-color: #5072A7;
  color: white;
  
  transform: rotateY(180deg);
}

.cardh1 {
  text-align: center;
  background-color: lightblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 300px; /* Adjusted the height to 300px */
  padding-top: 100px;
}

.cardbackh1 {
  text-align: center;
  background-color: #5072A7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 300px; /* Adjusted the height to 300px */
  padding-top: 100px;
}

.card-front{
  height: 200px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-container2{
  padding-top: 310px;
  margin-top: 0;
  
}

html,
body{
  background-color:#5072A7;
}

.card-container{
  padding-top: 10px;
  padding-bottom: 0;
  background-color: #5072A7;
}

.everything{
  background-color:#5072A7;
}

.Loading{
  background-color: #5072A7;
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
}

.no_city{
  background-color: #5072A7;
  font-size: 100px;
  text-align: center;
  padding-top: 200px;

}

/* .card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #6699CC;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  height: 300px;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
}

.card-container > .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.card-container > .row > .col-4 {
  flex-basis: calc(33.33% - 20px);
  padding: 0;
  margin-bottom: 0;
}

.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
}

.card-container2 > .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.card-container2 > .row > .col-4 {
  flex-basis: calc(33.33% - 20px);
  padding: 0;
  margin-bottom: 0;
}

.cardh1 {
  text-align: center;
  padding-top: 100px;
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
  background-color: lightblue;
}

.cardbackh1 {
  text-align: center;
  padding-top: 100px;
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */
